@import url("https://fonts.googleapis.com/css2?family=Cairo:ital,wght@0,400;0,500;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nabla:ital,wght@0,400;0,500;0,700;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Krub:400,700");

:root{--background-image: url(../img/bg.jpg);}

* {box-sizing: border-box; margin: 0; padding: 0;}

::-webkit-scrollbar {display: none;}

body {
    background-color: rgba(13, 17, 20);
    font-family: 'Alexandria', sans-serif;
}

main {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column
}

main::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
} 

main .continer {
    position: relative;
    z-index: 999;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .continer .BestFriend {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 15%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.192);
}

main .continer .BestFriend h2 {
    font-weight: bold;
    color: white;
    margin-top: 10px;
    font-size: 1.5rem;
}

main .continer .BestFriend .Discord_Cart {
    background-color: #15171b7d;
    border-radius: 10px;
    margin-top: 10%;
    width: 80%;
    max-height: 14.5vh;
    padding-bottom: 10px;
    border: 1px rgb(255 255 255 / 40%) solid;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

main .continer .BestFriend .Discord_Cart .Banner {
    width: 100%;
    height: 70px;
}

main .continer .BestFriend .Discord_Cart .Banner img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    height: 100%;
}

main .continer .BestFriend .Discord_Cart .Avatar {
    width: 55px;
    height: 55px;
    margin-top: -30px;
    margin-left: 10px;
}

main .continer .BestFriend .Discord_Cart .Avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

main .continer .Discord_Cart h5 {
    margin-top: 5px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
}

main .continer .card {
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 460px;
    border-radius: 10px;
    box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
    background: #151515;
    overflow: hidden;
}

main .continer .card .ds-top {
    width: 100%;
    height: 90px;
    animation: dsTop 1.5s;
}

main .continer .card .avatar-holder {
    margin-top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #151515, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000;
    background: white;
    overflow: hidden;
    animation: mvTop 1.5s;
}

main .continer .card .avatar-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .continer .card .name {
    text-align: center;
    animation: fadeIn 2s ease-in;
}

main .continer .card .name a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    transition: .3s ease-out;
}

main .continer .card .name a:hover {
    color: rgb(163, 163, 163);
}

main .continer .card .sochal i{
    color: white;
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    z-index: 9999999;
    transition: .3s ease-out;
}

main .continer .card .sochal i:hover {
    color: rgb(163, 163, 163);
}

main .continer .card .InfoMe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

main .continer .card .InfoMe .continer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 60px;
    width: 100px;
    height: 100px;
    color: white;
}

main .continer .card .Skills {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

footer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0 14 27);
}

footer .continer {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    padding: 3rem;
    justify-content: flex-end;
}

footer .continer aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    gap: 10px;
    font-size: 1rem
}

footer .continer aside p{
    text-align: left;
}

footer .continer aside img{
    width: 60px;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../Img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.loading .load {
    width: 30vh;
    height: 30vh;
    background-image: url(../Img/Bo.png);
    background-size: cover;
    border-radius: 50%;
    animation: swing;
    animation-duration: 2s;
}

.particles-js {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(0px, 0px);
    z-index: -1;
    opacity: 0.2;
    width: 100% !important;
    height: 100vh !important;
    z-index: 99;
}

@media screen and (max-width: 880px) {
    main .continer .BestFriend{
        display: none;
    }

    main .continer {
        position: relative;
        z-index: 999;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 60px;
    }
}